/* styles-sheet for upcoming match */



#highlight-u-m{
    background-color: #9b9bbd;
}

.article-section{
    column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15%;
    margin-left: 3%;
    margin-right: 1%;
    row-gap: 20%;
}
.vs-match{
    align-items: center;

    display: flex;
    flex-direction: column;
    width: 20vw;

}
.vs-flag{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.flags{

    margin: 10%;

}
.vs-t{
    font-weight: 700;
}

.vs-para{
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
}
.vs-para-text{
    margin-top: 2%;
}

.small-text-div{
    font-size: small;
    font-weight: 100;
    text-align: center;
}
.small-t{
    margin-top: -9%;
}