/* Google FOnts , Poppins--400 > 700  ,,,,,, couldn;t find HelveticaNeue 😢  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');

/* common things used all over may be- who knows how things work - 🤣🤣🤣 yeeee */


/* ᓚᘏᗢᓚᘏᗢᓚᘏᗢᓚᘏᗢ  commonly used classes  ᓚᘏᗢᓚᘏᗢᓚᘏᗢᓚᘏᗢ */

.fonts {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 3% 3% 0% 3%;
    background-color: beige;
}

hr {
    visibility: hidden;
}


/* (❁´◡`❁)  here comes the header  (❁´◡`❁) */

.containter-header {
    align-items: center;
    background-color: crimson;
    border-radius: 30px;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 4%;
    position: static;
    box-shadow: 1px -5px 15px 1px black;
}



/* (ˉ﹃ˉ)    header Title 🙌👌🙌    (ˉ﹃ˉ) */

.header {
    border: 0;
    width: 500px;
    height: auto;
    z-index: 1;
    position: relative;
    left: 8%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;

}

/*  ಥ_ಥ header title ಥ_ಥ */

.h-title {
    width: auto;
    height: 200px;
    font-size: 60px;
    text-align: left;
    color: aliceblue;
    font-weight: 700;
    position: relative;
    top: 30px;
    text-shadow: -8px 0px black;
}


/* ಥ_ಥ header para ಥ_ಥ */

.h-para {
    margin-top: 0%;
    padding-top: 0%;
    color: aliceblue;
    font-size: 15px;
    position: relative;
    bottom: 20px;
    text-shadow: -2px 0px black;
}


/* ಥ_ಥ header  button ಥ_ಥ */

/* 
.watch-live-btn{
    width: 50%;
    height: 50px;
    justify-content: flex-start;
    color: #ceaead;
    background-color: rgb(16, 22, 34);
    border: 0;
    position: relative;
    bottom: 1px;
    font-size: 2em;
    font-weight: 700;
    border-radius: 5px;
    font-style: italic;
    text-shadow: -3px 3px 0px black; 
    text-align: center; 
} */




/* .header  a{
    text-decoration: none;
} */

/* ಥ_ಥಥ_ಥ  icon-font-awesome ಥ_ಥಥ_ಥಥ_ಥ */
/* .fa-caret-right{
    font-size: 40px;
    position: relative;
    top: 5px;
    font-weight: 700;
    margin-left: 3px;  
    margin-left: 0px;
     
} */

.watch-live-btn-div {
    border: 0;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    color: rgb(33, 55, 75);
    border-radius: 5px;
}

.watch-live-btn a {
    text-decoration: none;
    background: none;
    color: rgb(233, 239, 245);
    text-shadow: 1px 2px black;

}

.watch-live-btn {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #5b8a10;
    border: 0;
    border-radius: 5px;

}

@keyframes button-animation {
    0% {
        background-color: #ceaead;
    }

    25% {
        background-color: black;
    }

    100% {
        background-color: #ceaead;
    }

}

.header>div :hover {
    animation: button-animation 3s ease-in 0s infinite;
}

/*  ╰(*°▽°*)╯   image editing    ╰(*°▽°*)╯ */

.img-header {
    border: 0;
    height: 100%;

}

.img-h-itself {
    width: 100%;
    height: auto;
    border: 0p;
    position: relative;
    top: 59px;
    right: 10px;


}



/* ᓚᘏᗢᓚᘏᗢᓚᘏᗢ main body  ᓚᘏᗢᓚᘏᗢᓚᘏᗢ */


/*  ᓚᘏᗢᓚᘏᗢᓚᘏᗢ nav-bar  ᓚᘏᗢᓚᘏᗢᓚᘏᗢ */

.main-part-section {
    margin-top: 5%;
    /* border: 1px dashed black; */
    display: flex;
    border-radius: 10px;
}

.nav-bar {
    display: flex;
    /* border: 1px solid black; */
    width: 50%;
    height: 294px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    border-radius: 10px;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.options {
    /* border: 1px dashed black; */
    height: 24%;
    padding-top: 6%;
    width: 75%;
    background-color: #e2d8d8;
    text-align: center;
    border-radius: 6px;
}

.ref-links {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(10, 6, 1);
    padding-left: 2%;
}

.nav-bar :hover {
    background-color: red;
}

.nav-bar :active {
    background-color: yellow;
}

.nav-bar a :visited {
    background-color: green;
}

.nav-bar a :link {
    background-color: #f0f7e7;
}

/* (❁´◡`❁)(❁´◡`❁) blog part (❁´◡`❁)(❁´◡`❁) */


.article-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0.5%;
}

.blog {
    /* border: 1px solid green; */
    width: 100%;
    border-radius: 10px;
}

.thumbnail-match {
    width: 100%;
    border-radius: 10px;
}

.thumb-img-blog {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.sum-box {
    margin-left: 5%;
}

.transfer {
    font-weight: 700;
    font-size: 0.8em;
    padding: 2%;
}

div.icon-shortcut p {
    padding-left: 6%;
}

.icon-shortcut {
    /* border: 1px solid chartreuse; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0px;

}

.icon-time {
    width: 42%;
    /* border: 1px solid magenta; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

}

.icon-comment {
    width: 42%;
    /* border: 1px solid magenta; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-left: -50%;
}



/* .fa-clock{
    font-size: 1.2em;
    position: relative;
    top: 30%;
    padding-left: 10%;
    padding-right: ;
} */


/* 🎶🎶🎶🎶 view all -- only on tab-view 🎶🎶🎶🎶 */

.view-all {
    border: 1px solid black;
    width: 10vw;
    height: auto;
    margin-top: 5%;
    position: relative;
    left: 45%;
    text-align: center;
    background-color: #29311b;
    display: none;
}

.view-a {
    text-decoration: none;
    color: #dabfbe;
    font-size: 1.2em;

}

/* (T_T)¯\_(ツ)_/¯(T_T)  footer  (T_T)¯\_(ツ)_/¯(T_T) (T_T)¯\_(ツ)_/¯(T_T)  */

footer {

    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    margin-bottom: 0%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.foot h1 {
    color: #a3b191;
    font-weight: 700;
}

footer hr {
    border: 2px solid black;
    visibility: visible;
    width: 75%;
}

.foot-base {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.foot-para {
    width: 9%;
    height: auto;
    font-size: 0.6em;
    font-weight: 700;
    margin-inline: -13%;
    text-align: center;
    color: #a3b191;
}

.social-links {
    display: none;
}


/* ( •_•)>⌐■-■  resposive part ( •_•)>⌐■-■ */

/* ᓚᘏᗢᓚᘏᗢᓚᘏᗢ small screen - mobile view ᓚᘏᗢᓚᘏᗢᓚᘏᗢᓚᘏᗢ */

@media only screen and (max-width:576px) and (min-width:330px) {

    .containter-header {
        flex-direction: column;
        border-radius: 9px;
        height: 99vh;
    }

    .header {
        width: 75%;
        left: 1.5%;
        padding: 9%;

    }

    .h-title {
        width: 100%;
        height: auto;
        font-size: 1.5em;
        text-align: center;
        top: -25px;
        text-shadow: -1px 1px 3px black;
    }

    .h-para {
        width: 100%;
        height: auto;
        font-size: .75em;
        text-align: center;
        top: -30px;

    }

    .watch-live-btn-div {
        margin-left: 64px;
    }

    .watch-live-btn {
        width: 80%;
        height: auto;
        left: 20%;
        padding-bottom: 3px;
        text-align: center;
        font-size: 1em;
        margin-left: 27%;
    }

    .img-header {
        display: flex;
        align-items: center;
    }

    .img-h-itself {
        top: 2%;
        right: 0%;
        bottom: 24px;

    }


    .main-part-section {
        margin-top: 5%;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        width: 99%;
        height: 55vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fffdfd;
        border-radius: 10px;
        margin-right: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 39%;
    }

    .options {
        height: 24%;
        padding-top: 4%;
        width: 50%;
        background-color: #ddd2d2;
        text-align: center;
        border-radius: 6px;
    }

    .article-section {
        grid-template-columns: repeat(1, 1fr);

    }

    footer {
        margin-top: 46%;
        display: flex;
        background-color: crimson;
        margin-bottom: 0%;
        padding-bottom: 5%;
        padding-top: 5%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .foot-base {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .foot-para {
        width: 20vw;
        height: auto;
        font-size: 0.6em;
        font-weight: 700;
        margin-inline: -13%;
        text-align: center;
        color: #a3b191;
    }


    .social-links {
        display: flex;
        flex-direction: row;
        width: 21vw;
        align-items: center;
        justify-content: center;
    }


    .sl-icons {
        padding-inline: 5%;

    }
}


/* ᓚᘏᗢᓚᘏᗢᓚᘏᗢ <<<---medium screen- tab view-----> ᓚᘏᗢᓚᘏᗢᓚᘏᗢᓚᘏᗢ */

@media only screen and (min-width:577px) and (max-width:768px) {


    .containter-header {
        height: 49vh;
    }

    .h-title {
        transform: scale(0.45);
        position: relative;
        left: -5vw;
        line-height: 10vh;
    }

    .h-para {
        transform: scale(0.7);
        position: relative;
        top: -13vh;
    }

    .watch-live-btn-div {
        transform: scale(0.5);
        position: relative;
        top: -15vh;
        left: 1vw;
    }

    .watch-live-btn {
        font-size: 1.3em;
    }

    .main-part-section {
        flex-direction: column;
    }

    .nav-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: 96vw;
        background: none;
        height: 24vh;
        position: relative;
        left: -1%;
        margin-bottom: -4%;
    }

    .options {
        height: 6vh;
        background: none;
        border: 1px solid mediumaquamarine;
        margin-inline: 1%;
    }

    .ref-links {
        font-size: 1em;
    }

    .article-section {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4%;
    }

    .view-all {
        display: block;
        margin-top: 15%;
    }

    .view-a {
        font-size: 1em;
    }

    .foot-base {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .foot-para {
        width: 50%;
    }
}